**/gen/
**/edmx/
*.db
schema.sql
default-env.json

**/bin/
**/target/
.flattened-pom.xml
.classpath
.project
.settings
package-lock.json

**/node/
**/node_modules/
false/

**/.mta/
*.mtar
package-lock.json

*.log*
gc_history*
hs_err*
*.tgz
*.iml

.idea

.DS_Store
Makefile_*

*.zip
.factorypath
serviceNameMappings.properties
/cf-instance-identity.crt
/cf-instance-identity.key

db/data/*_texts.csv
db/data/*.texts.csv
package-lock.json

*.py
sqlite.db

*.key
*.jks
*.crt
*.p12
.vscode/diff/